<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctors</title>
  <link rel="stylesheet" href="/docterp/css/styles.css" />
  <link rel="stylesheet" href="/adminp/css/style.css">
</head>

<body>
  <%- include('admin-sidebar') %>
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5" style="margin: 0;">
      <div class="col-lg-3">
        <div class="card h-100" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop2">
          <img src="/adminp/image/ac-room.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bolder">AC ROOM</h5>
            <!-- <h6 class="card-title">(General physicianist)</h6> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card h-100 d-flex justify-content-center align-items-center" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
          </svg>
        </div>
      </div>
      <!-- edit and create popup -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <form action="">
                <input type="file" class="form-control mb-3 text-white" id="doctorimg" name="img">
                <label for="" class="text-white">Id :</label>
                <input type="text" class="form-control mb-3 text-white" name="id" id="id">
                <label for="" class="text-white">Password :</label>
                <input type="password" class="form-control mb-3 text-white" name="password" id="password">
                <label for="" class="text-white">Doctor Name :</label>
                <input type="text" class="form-control mb-3 text-white" name="doctorname" id="doctorname">
                <label for="" class="text-white">Department :</label>
                <input type="text" class="form-control mb-3 text-white" name="Department" id="Department">
                <label for="" class="text-white">Address :</label>
                <input type="text" class="form-control mb-3 text-white" name="Address" id="Address">
                <label for="" class="text-white">Phone :</label>
                <input type="number" class="form-control mb-3 text-white" name="Phone" id="Phone">
                <label for="" class="text-white">Email :</label>
                <input type="email" class="form-control mb-3 text-white" name="email" id="email">
                <label for="" class="text-white" class="mb-3 text-white">Blood group :</label>
                <select class="form-select mb-3 text-white" aria-label="Default select example" id="Blood">
                  <option value="1" class="text-dark">A+</option>
                  <option value="2" class="text-dark">A+</option>
                  <option value="3" class="text-dark">B+</option>
                  <option value="1" class="text-dark">B-</option>
                  <option value="2" class="text-dark">o+</option>
                  <option value="3" class="text-dark">o-</option>
                  <option value="1" class="text-dark">AB+</option>
                  <option value="2" class="text-dark">AB-</option>
                  <option value="3" class="text-dark">OB+</option>
                  <option value="1" class="text-dark">OB-</option>
                </select>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- views model -->

      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Id</h3></div>
                    <div class="col"><h4 id="id" class="text-white">: 200</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Password</h3></div>
                    <div class="col"><h4 id="Password" class="text-white">: 123</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Doctor Name</h3></div>
                    <div class="col"><h4 id="Doctorname" class="text-white">: JHON</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Department</h3></div>
                    <div class="col"><h4 id="Department" class="text-white">: GENERAL PHYSICIANIST</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Address</h3></div>
                    <div class="col"><h4 id="Address" class="text-white">: PALAKKAD,PAPAADI,KERALA</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Phone</h3></div>
                    <div class="col"><h4 id="Phone" class="text-white">: +91 8078 9184 23</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Email</h3></div>
                    <div class="col"><h4 id="Email" class="text-white">: jhon12@gmail.com</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-4"> <h3 for="" class="mb-3 text-white">Bloodgroup</h3></div>
                    <div class="col"><h4 id="Blood" class="text-white">: A+</h4></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">edit</button>
                </div>
              </div>
            </div>
          </div>

    </div>
    <script src="/docterp/libs/jquery/dist/jquery.min.js"></script>
    <script src="/docterp/js/app.min.js"></script>
    <script src="/docterp/libs/jquery/dist/jquery.min.js"></script>
    <script src="/docterp/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/docterp/js/sidebarmenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>