<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Schedules</title>
  <link rel="shortcut icon" type="image/png" href="/doctorp/images/logos/favicon.png" />
  <link rel="stylesheet" href="/doctorp/css/styles.min.css" />
</head>

<body>   
   <%- include('Sidebar') %>
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1 class="fw-bolder mb-4">Schedules</h1>
            <div class="card">
              <div class="card-body">
              <form method="POST" enctype="multipart/form-data">  
                  <div class="row mb-3">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <label for="exampleInputEmail1" class="form-label">Name</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pro" value="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Category</label>
                      <select id="disabledSelect" class="form-select" name="cat">
                        <option>Category select</option>
                         <option value="">meeting</option>
                         <option value="">Surgery</option>
                         <option value="">morning op</option>
                         <option value="">Evening op</option>
                      </select>
                    </div>
                  </div>
                  <di class="row mb-3">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                      <label for="exampleInputEmail1" class="form-label">Date</label>
                      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pri" value="">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-8">
                      <label for="exampleInputEmail1" class="form-label">Time</label>
                      <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="qua" value="">
                    </div>
                  <div class="row mb-3">
                    <div class="col-lg-12 col-md-7 col-sm-7">
                      <label for="exampleInputEmail1" class="form-label">Place</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="qua" value="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <button type="submit" class="btn btn-primary" name="submitp">Add</button>
                        <a href="/doc/apro" class="btn btn-danger">Reset</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

<!-- table begin -->
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Schedule List</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Category</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Date</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Time</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Place</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Edit</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Delete</h6>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">1</h6></td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">Schedule-1</p>                         
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">meeting</p>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">31/01/2024</p>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-normal mb-0">10:00am</h6>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">room-1</p>
                        </td>
                        <td class="border-bottom-0">
                        <a href="/doc/apro"><span><i class="ti ti-edit btn btn-outline-success"></i></span></a>
                        </td>
                        <td class="border-bottom-0">
                        <a href="/doc/apro"><span><i class="ti ti-trash btn btn-outline-danger"></i></span></a>
                        </td>
                      </tr>                        
                    </tbody>  

                  </table>
                </div>
              </div>
            </div>
<!-- table end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/doctorp/libs/jquery/dist/jquery.min.js"></script>
  <script src="/doctorp/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/doctorp/js/sidebarmenu.js"></script>
  <script src="/doctorp/js/app.min.js"></script>
  <script src="/doctorp/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/doctorp/libs/simplebar/dist/simplebar.js"></script>
  <script src="/doctorp/js/dashboard.js"></script>
</body>
</html>