<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin-notify</title>
  <link rel="shortcut icon"  href="/userp/img/favicon.png" />
  <link rel="stylesheet" href="/doctorp/css/styles.min.css" />
</head>

<body>
  <%- include('Sidebar') %>
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h1 class="fw-semibold mb-4">Notification</h1>
            <p class="mb-0">Notification will be displayed here </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/doctorp/libs/jquery/dist/jquery.min.js"></script>
  <script src="/doctorp/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/doctorp/js/sidebarmenu.js"></script>
  <script src="/doctorp/js/app.min.js"></script>
  <script src="/doctorp/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/doctorp/libs/simplebar/dist/simplebar.js"></script>
  <script src="/doctorp/js/dashboard.js"></script>
</body>
</html>