<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/docterp/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/docterp/css/styles.min.css"/>
</head>

<body>
  <%- include('Sidebar') %>
      <div class="container-fluid">
        <div class="card w-100 h-100 position-relative overflow-hidden">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Icons</h5>
            <iframe src=" " frameborder="0" style="height: calc(100vh - 250px); width: 100%;"
              data-simplebar=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/docterp/libs/jquery/dist/jquery.min.js"></script>
  <script src="/docterp/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/docterp/js/sidebarmenu.js"></script>
  <script src="/docterp/js/app.min.js"></script>
  <script src="/docterp/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>