<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>mes hospital</title>

    <!-- Favicon -->
    <link rel="icon" href="/userp/img/favicon.png">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/userp/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/userp/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/userp/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="/userp/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/userp/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/userp/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="/userp/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/userp/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/userp/css/magnific-popup.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="/userp/css/normalize.css">
    <link rel="stylesheet" href="/userp/css/style.css">
    <link rel="stylesheet" href="/userp/css/responsive.css">

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <%- include('navbar.ejs') %>
        <!-- Breadcrumbs -->
        <div class="breadcrumbs overlay blogbackgound">
            <div class="container">
                <div class="bread-inner">
                    <div class="row">
                        <div class="col-12">
                            <h2>About</h2>
                            <ul class="bread-list">
                                <li><a href="//">Home</a></li>
                                <li><i class="icofont-simple-right"></i></li>
                                <li class="active">About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <section id="about" class="about">
            <div class="container">
                <div class="row p-5">
                    <div class="col-lg-6">
                        <img src="/userp/img/about us img.jpg" class="img-fluid" alt="Hospital Mes">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder pb-3">MES HOSPITAL</h2>
                        <p>Hospital Mes is a leading medical facility dedicated to providing high-quality healthcare
                            services to our patients. Our team of experienced and compassionate medical professionals is
                            committed to delivering personalized and comprehensive care to meet the unique needs of each
                            patient.</p>
                        <p>At Hospital Mes, we utilize the latest medical technology and evidence-based practices to
                            ensure the best possible outcomes for our patients. We offer a wide range of services,
                            including emergency care, inpatient and outpatient care, diagnostic imaging, and specialized
                            treatments for various medical conditions.</p>
                        <p>Our hospital is conveniently located in the heart of the city, making it easily accessible to
                            our patients. We accept most major insurance plans and offer flexible financing options to
                            help make healthcare affordable for everyone.</p>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer.ejs') %>

            <!-- jquery Min JS -->
            <script src="/userp/js/jquery.min.js"></script>
            <!-- jquery Migrate JS -->
            <script src="/userp/js/jquery-migrate-3.0.0.js"></script>
            <!-- jquery Ui JS -->
            <script src="/userp/js/jquery-ui.min.js"></script>
            <!-- Easing JS -->
            <script src="/userp/js/easing.js"></script>
            <!-- Color JS -->
            <script src="/userp/js/colors.js"></script>
            <!-- Popper JS -->
            <script src="/userp/js/popper.min.js"></script>
            <!-- Bootstrap Datepicker JS -->
            <script src="/userp/js/bootstrap-datepicker.js"></script>
            <!-- Jquery Nav JS -->
            <script src="/userp/js/jquery.nav.js"></script>
            <!-- Slicknav JS -->
            <script src="/userp/js/slicknav.min.js"></script>
            <!-- ScrollUp JS -->
            <script src="/userp/js/jquery.scrollUp.min.js"></script>
            <!-- Niceselect JS -->
            <script src="/userp/js/niceselect.js"></script>
            <!-- Tilt Jquery JS -->
            <script src="/userp/js/tilt.jquery.min.js"></script>
            <!-- Owl Carousel JS -->
            <script src="/userp/js/owl-carousel.js"></script>
            <!-- counterup JS -->
            <script src="/userp/js/jquery.counterup.min.js"></script>
            <!-- Steller JS -->
            <script src="/userp/js/steller.js"></script>
            <!-- Wow JS -->
            <script src="/userp/js/wow.min.js"></script>
            <!-- Magnific Popup JS -->
            <script src="/userp/js/jquery.magnific-popup.min.js"></script>
            <!-- Counter Up CDN JS -->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="/userp/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <!-- Main JS -->
            <script src="/userp/js/main.js"></script>

</body>

</html>