<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
    <title>mes hospital</title>
	<!-- Favicon -->
	<link rel="icon" href="/userp/img/favicon.png">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/userp/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/userp/css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/userp/css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="/userp/css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="/userp/css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/userp/css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="/userp/css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/userp/css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="/userp/css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="/userp/css/normalize.css">
	<link rel="stylesheet" href="/userp/css/style.css">
	<link rel="stylesheet" href="/userp/css/responsive.css">

</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->

	<%- include('navbar.ejs') %>
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay blogbackgound">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Appointment</h2>
							<ul class="bread-list">
								<li><a href="//">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Appointment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book An Appointment</h2>
							<img src="/userp/img/section-img.png" alt="#">
							<p>Book An Appointment</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" method="post" action="/uapp">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="pname" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="page" type="number" placeholder="age">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span
												class="current">Sex</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Male</li>
												<li data-value="2" class="option">Femaile</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="pplace" type="text" placeholder="Place">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="pphone" type="number" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span
												class="current">Department</span>
											<ul class="list">
												<li data-value="2" class="option">Cardiac Clinic</li>
												<li data-value="3" class="option">Neurology</li>
												<li data-value="4" class="option">Dentistry</li>
												<li data-value="5" class="option">Gastroenterology</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span
												class="current">Doctor</span>
											<ul class="list">
												<li data-value="2" class="option">Dr. Akther Hossain</li>
												<li data-value="3" class="option">Dr. Dery Alex</li>
												<li data-value="4" class="option">Dr. Jovis Karon</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="text" name="pdate" placeholder="Date" id="datepicker">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span
												class="current">blogbackgound</span>
											<ul class="list">
												<li data-value="2" class="option">A+</li>
												<li data-value="3" class="option">A-</li>
												<li data-value="4" class="option">AB+</li>
												<li data-value="4" class="option">AB-</li>
												<li data-value="4" class="option">o+</li>
												<li data-value="4" class="option">o-</li>
												<li data-value="4" class="option">B+</li>
												<li data-value="4" class="option">B-</li>
												<li data-value="4" class="option">OB+</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button class="btn">Book An Appointment</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="/userp/img/contact-img.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->

		<%- include('footer.ejs') %>


			<!-- jquery Min JS -->
			<script src="/userp/js/jquery.min.js"></script>
			<!-- jquery Migrate JS -->
			<script src="/userp/js/jquery-migrate-3.0.0.js"></script>
			<!-- jquery Ui JS -->
			<script src="/userp/js/jquery-ui.min.js"></script>
			<!-- Easing JS -->
			<script src="/userp/js/easing.js"></script>
			<!-- Color JS -->
			<script src="/userp/js/colors.js"></script>
			<!-- Popper JS -->
			<script src="/userp/js/popper.min.js"></script>
			<!-- Bootstrap Datepicker JS -->
			<script src="/userp/js/bootstrap-datepicker.js"></script>
			<!-- Jquery Nav JS -->
			<script src="/userp/js/jquery.nav.js"></script>
			<!-- Slicknav JS -->
			<script src="/userp/js/slicknav.min.js"></script>
			<!-- ScrollUp JS -->
			<script src="/userp/js/jquery.scrollUp.min.js"></script>
			<!-- Niceselect JS -->
			<script src="/userp/js/niceselect.js"></script>
			<!-- Tilt Jquery JS -->
			<script src="/userp/js/tilt.jquery.min.js"></script>
			<!-- Owl Carousel JS -->
			<script src="/userp/js/owl-carousel.js"></script>
			<!-- counterup JS -->
			<script src="/userp/js/jquery.counterup.min.js"></script>
			<!-- Steller JS -->
			<script src="/userp/js/steller.js"></script>
			<!-- Wow JS -->
			<script src="/userp/js/wow.min.js"></script>
			<!-- Magnific Popup JS -->
			<script src="/userp/js/jquery.magnific-popup.min.js"></script>
			<!-- Counter Up CDN JS -->
			<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
			<!-- Bootstrap JS -->
			<script src="/userp/js/bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
				crossorigin="anonymous"></script>
			<!-- Main JS -->
			<script src="/userp/js/main.js"></script>
</body>

</html>