<!-- Footer Area -->
<footer id="footer" class="footer ">
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-footer">
						<h2>About Us</h2>
						<p>Hospital Mes is a leading medical facility dedicated to providing high-quality healthcare services to our patients.</p>
						<!-- Social -->
						<ul class="social">
							<li><a href="#"><i class="icofont-facebook"></i></a></li>
							<li><a href="#"><i class="icofont-google-plus"></i></a></li>
							<li><a href="#"><i class="icofont-twitter"></i></a></li>
							<li><a href="#"><i class="icofont-vimeo"></i></a></li>
							<li><a href="#"><i class="icofont-pinterest"></i></a></li>
						</ul>
						<!-- End Social -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-footer f-link">
						<h2>Quick Links</h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<ul>
									<li><a href="//"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
									<li><a href="//uabo"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a>
									</li>
									<li><a href="//#Services"><i class="fa fa-caret-right"
												aria-hidden="true"></i>Services</a></li>
									<li><a href="//ufaq"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
									<li><a href="//ucon"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact
											Us</a></li>
									<!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>	 -->
								</ul>
							</div>
							<!-- <div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
											<li><a href="/ufaq"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
											<li><a href="/ucon"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
										</ul>
									</div> -->
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-footer" id="Opening-hours">
						<h2>Open Hours</h2>						<ul class="time-sidual">
							<li class="day">Monday -  Saturday<span>8.00-20.00</span></li>
							<li class="day">Fridayp<span>9.00-18.30</span></li>
							<li class="day">Sunday<span>offday</span></li>
						</ul>
					</div>
				</div>
				<!-- <div class="col-lg-3 col-md-6 col-12">
					<div class="single-footer">
						<h2>Newsletter</h2>
						<p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet,
							consectetur adipisicing elit,</p>
						<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
							<input name="email" placeholder="Email Address" class="common-input"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
								required="" type="email">
							<button class="button"><i class="icofont icofont-paper-plane"></i></button>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!--/ End Footer Top -->
	<!-- Copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="copyright-content">
						<p>© Copyright 2018 | All Rights Reserved by <a href="http://sinan.rf.gd/?i=1" target="_blank">
								muhamed sinan k</a> </p>
						<a style="color: #00468d;" href="/doc/dhom">.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->