<!-- Header Area -->
<header class="header">
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5 col-12">
					<!-- Contact -->
					<ul class="top-link">
						<li><a href="/uabo">About</a></li>
						<li><a href="/ufaq">FAQ</a></li>
					</ul>
					<!-- End Contact -->
				</div>
				<div class="col-lg-6 col-md-7 col-12">
					<!-- Top Contact -->
					<ul class="top-contact">
						<li><i class="fa fa-phone"></i>+91 8078 4512 13</li>
						<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@mes.com</a></li>
					</ul>
					<!-- End Top Contact -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	<!-- Header Inner -->
	<div class="header-inner">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Start Logo -->
						<div class="logo">
							<a href="/">
								<h2 class="fw-bolder"><span style="color: #1A76D1;">MES</span> Hospital</h2>
							</a>
						</div>
						<!-- End Logo -->
						<!-- Mobile Nav -->
						<div class="mobile-nav"></div>
						<!-- End Mobile Nav -->
					</div>
					<div class="col-lg-7 col-md-9 col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li><a href="/">Home</a>
									</li>
									<li><a href="/udoc">Doctors </a></li>
									<li><a href="/#service">Department </a></li>
									<li><a href="/ublo">Blogs</i></a>
									</li>
									<li><a href="/ucon">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
					<div class="col-lg-2 col-12">
						<div class="get-quote">
							<a href="/uapp" class="btn">Book Appointment</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!-- End Header Area -->